* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-play-state: paused !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

:not(footer *, .profile-btn):focus-visible {
  outline: dashed 3px #009CB8 !important;
}

.App {
  text-align: center;
}

html,
body {
  overflow-x: hidden;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  height: 100px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  padding-bottom: 10vh;
  padding-top: 10px;
  flex-direction: column;
}

.disclaimer {
  width: 75vw;
  margin-top: 20px;
}
